@import "./variable";
@font-face{
    font-family: 'spotify';
    src: url("../../public/fonts/Metropolis-SemiBold.otf") format('opentype');
}

body{
    
    background-color: $base-color;
    font-family: 'spotify';
    
}
main{
    margin-top: 65px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
}

.last{
    margin-bottom: 100px;
}
.splash{
    height: 100vh;
    display: flex;
    flex-direction: column;
    a{
        font-size: 2rem;
    }
    gap: 2rem;
    align-items: center;
    justify-content: center;
}